body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #333333;
  color: white;
  align-items: center;
  text-align: center;
}

a {
  color: yellow;
}
h1   {      color: yellow}

h4   {font-size: : 30px;
      color: yellow}
